@import "compass";
@import "compass/reset";
@import "fonts";
@import "mixins";
@import "components/btn";
@import "components/form";
@import "components/list";
@import "components/app";

* {
  margin: 0;
  padding: 0;
}

form,
input,
button,
textarea,
html,
body {
	font-family: 'Roboto', sans-serif;
}

html,
body {
	font-size: 16px;
	color: #7d7d7d;
	height: 100%;
	min-height: 100%;
  	min-width: 300px;
	background-color: #ebebeb;
	text-align: center;
}

