.form {
	margin-bottom: 30px;
	&__input {
		@include font(16px, 500, #7d7d7d);
		background-color: #f2f2f2;
		border: 1px solid #cfcfcf;
		border-radius: 2px;
		line-height: 30px;
		padding-left: 10px;
	}
	&__btn {
		margin-left: 15px;
	}
}

