.app {
	padding-top: 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 25px;
	margin-top: 60px;
	display: inline-block;
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

h1 {
	@include font(31px, 600, #dd5555);
	margin-bottom: 30px;
}